<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        img { 
            padding: 10px; 
            float:left; 
            width:240px; 
            height:200px;}
    </style>
</head>

<body style="background-color:#f7f4d7;">
    <br>
    <img src="{{url_for('static', filename='packing1.jpg')}}" alt="The LifeLadder packing environment">
    <h2>Welcome to the LifeLadderPacker</h2>
    <form action="/pack">
        
        How many LifeLadders? <input type='text' name='amount1' size="5">&nbsp;&nbsp;&nbsp;
        Length? <select name="length1"><option value="" class="placeholder" disabled  selected='selected'></option>
                <option value="1.5" >1.5</option><option value="1.8" >1.8</option><option value="2.1" >2.1</option><option value="2.4" >2.4</option>
                <option value="2.7" >2.7</option><option value="3.0" >3.0</option><option value="3.3" >3.3</option><option value="3.6" >3.6</option>
                <option value="3.9" >3.9</option><option value="4.2" >4.2</option><option value="4.5" >4.5</option><option value="4.8" >4.8</option>
                <option value="5.1" >5.1</option><option value="5.4" >5.4</option><option value="5.7" >5.7</option><option value="6.0" >6.0</option>
                <option value="6.3" >6.3</option><option value="6.6" >6.6</option><option value="6.9" >6.9</option><option value="7.2" >7.2</option>
                <option value="7.5" >7.5</option><option value="7.8" >7.8</option><option value="8.1" >8.1</option><option value="8.4" >8.4</option>
                <option value="8.7" >8.7</option><option value="9.0" >9.0</option></select> meters &nbsp;&nbsp;&nbsp;
        Include LightUnits? <input type='checkbox' name='lights1'>
        <br>
        How many LifeLadders? <input type='text' name='amount2' size="5">&nbsp;&nbsp;&nbsp;
        Length? <select name="length2"><option value="" class="placeholder" disabled  selected='selected'></option>
                <option value="1.5" >1.5</option><option value="1.8" >1.8</option><option value="2.1" >2.1</option><option value="2.4" >2.4</option>
                <option value="2.7" >2.7</option><option value="3.0" >3.0</option><option value="3.3" >3.3</option><option value="3.6" >3.6</option>
                <option value="3.9" >3.9</option><option value="4.2" >4.2</option><option value="4.5" >4.5</option><option value="4.8" >4.8</option>
                <option value="5.1" >5.1</option><option value="5.4" >5.4</option><option value="5.7" >5.7</option><option value="6.0" >6.0</option>
                <option value="6.3" >6.3</option><option value="6.6" >6.6</option><option value="6.9" >6.9</option><option value="7.2" >7.2</option>
                <option value="7.5" >7.5</option><option value="7.8" >7.8</option><option value="8.1" >8.1</option><option value="8.4" >8.4</option>
                <option value="8.7" >8.7</option><option value="9.0" >9.0</option></select> meters &nbsp;&nbsp;&nbsp;
        Include LightUnits? <input type='checkbox' name='lights2'>
        <br>


        <input type='submit' value='Continue'>
    </form>
</body>

</html>
